[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = https://github.com/veto9292/hiddify-sing-box.git
[submodule "ray2sing"]
	path = ray2sing
	url = https://github.com/veto9292/ray2sing.git
